## Base16 {{scheme-name}}
# Author: {{scheme-author}}

[colors]
background={{base00-hex}}dd
text={{base05-hex}}ff
match={{base0A-hex}}ff
selection={{base02-hex}}dd
selection-text={{base05-hex}}ff
selection-match={{base0A-hex}}ff
border={{base00-hex}}ff
