## Base16 {{scheme-name}}
# Author: {{scheme-author}}

set $base00 #{{base00-hex}}
set $base01 #{{base01-hex}}
set $base02 #{{base02-hex}}
set $base03 #{{base03-hex}}
set $base04 #{{base04-hex}}
set $base05 #{{base05-hex}}
set $base06 #{{base06-hex}}
set $base07 #{{base07-hex}}
set $base08 #{{base08-hex}}
set $base09 #{{base09-hex}}
set $base0A #{{base0A-hex}}
set $base0B #{{base0B-hex}}
set $base0C #{{base0C-hex}}
set $base0D #{{base0D-hex}}
set $base0E #{{base0E-hex}}
set $base0F #{{base0F-hex}}

# class			border	backgr	text	indic.	child border
client.focused		$base02	$base00	$base05	$base0F	$base0F
client.unfocused	$base02	$base00	$base04	$base00	$base00
client.focused_inactive	$base02	$base00	$base04	$base00	$base00
client.urgent		$base02	$base00	$base04	$base00	$base00

bar {
	position top
	status_command i3status
	colors {
		background	$base00
		statusline	$base05
		separator	$base04
		
		focused_workspace	$base0F	$base0F	$base00
		active_workspace	$base0F	$base00	$base0F
		inactive_workspace	$base00	$base00	$base0F
		urgent_workspace	$base08	$base00	$base08
		binding_mode		$base08	$base08	$base00
	}
}
